<form action="action.php" method="post">
		<br>Cor da Letra<br><br>		
		<input type="radio" name="color" value="0" /><div class="bubble bubble-sm" style="background-color: #000000"></div>
		<input type="radio" name="color" value="1" /><div class="bubble bubble-sm" style="background-color: #000080"></div>
		<input type="radio" name="color" value="2" /><div class="bubble bubble-sm" style="background-color: #008000"></div>	
		<input type="radio" name="color" value="3" /><div class="bubble bubble-sm" style="background-color: #008080"></div>
		<input type="radio" name="color" value="4" /><div class="bubble bubble-sm" style="background-color: #800000"></div>
		<input type="radio" name="color" value="5" /><div class="bubble bubble-sm" style="background-color: #800080"></div>	
		<input type="radio" name="color" value="6" /><div class="bubble bubble-sm" style="background-color: #808000"></div>
  
  <br><br>Cor de fundo<br><br>
		
		<input type="radio" name="color2" value="0" /><div class="bubble bubble-sm" style="background-color: #000000"></div>
		<input type="radio" name="color2" value="1" /><div class="bubble bubble-sm" style="background-color: #000080"></div>
		<input type="radio" name="color2" value="2" /><div class="bubble bubble-sm" style="background-color: #008000"></div>	
		<input type="radio" name="color2" value="3" /><div class="bubble bubble-sm" style="background-color: #008080"></div>
		<input type="radio" name="color2" value="4" /><div class="bubble bubble-sm" style="background-color: #800000"></div>
		<input type="radio" name="color2" value="5" /><div class="bubble bubble-sm" style="background-color: #800080"></div>	
		<input type="radio" name="color2" value="6" /><div class="bubble bubble-sm" style="background-color: #808000"></div>
  </form>